<div style="display: flex; justify-content: space-evenly;">
    <div>
        <a style="flex: 1; margin: 0 auto;" href="https://www.linkedin.com/in/aleksander-piotrowski-266a8519b/">
            <img style="width: 50px; height: 50px;" src="/icon/linkedin.svg" title="linkedin">
        </a>
    </div>
    <div>
        <a style="flex: 1;"href="https://github.com/apiotrowski312/">
            <img style="width: 50px; height: 50px;" src="/icon/github.svg" title="github">
        </a>
    </div>
    <div>
        <a style="flex: 1;"href="https://medium.com/@apiotrowski312">
            <img style="width: 50px; height: 50px;" src="/icon/medium.svg" title="medium">
        </a>
    </div>

</div>